@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3 class="display-6">Ultimas Transacciones</h3>
    <ul>
        <li>Transaccion 1</li>
        <li>Transaccion 2</li>
        <li>Transaccion 3</li>
    </ul>
    <h3 class="display-6">Total Income Yearly</h3>
    <p>Monto Total Income</p>
    <h3 class="display-6">Total Expense Yearly</h3>
    <p>Monto Total Expense</p>
    <h3 class="display-6">Total Balance</h3>
    <p>Monto Total Balance</p>
</div>
